@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
:root {
  --clr-bg: #333333;
  --clr-accent: #ff9900;
  --clr-text: #aaa;

  font-family: sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
}
/* * {
  box-sizing: border-box;
} */
a {
  color: var(--clr-accent);
}
li {
  list-style: none;
}
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: min-content;
  margin: 0 auto;
}
.card {
  border: 1px solid black;
  padding: 1rem 2rem;
  margin: 0.5rem 1rem;
  width: 400px;
  background-color: var(--clr-bg);
}
